ul#nav
    li.index
        a(href=relativePrefix + 'index.html') Home

    li.getting-started
        a(href=relativePrefix + 'getting-started.html') Getting Started

    li.installation
        a(href=relativePrefix + 'installation.html') Installation

    li.dropdown#concepts
        a Concepts

        ul#concepts
            li.game
                a(href=relativePrefix + 'concepts/game.html') Game

            li.states
                a(href=relativePrefix + 'concepts/states.html') States

            li.entities-and-components
                a(href=relativePrefix + 'concepts/entities-and-components.html') Entities and Components

            li.systems
                a(href=relativePrefix + 'concepts/systems.html') Systems

    li.api
        a(href=relativePrefix + 'api') API
